@import	url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap");

@import url("components/container.css");

@import url("components/mont-blanc.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

body	{

	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
	background: white;
}

h1, h2, h3, h4	{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	color: white;
}
a	{
	text-decoration: none;
}

h3	{
	color: #5C89CC;
	font-weight: 1000;
}

.resorts	{
	width: 150px;
	height: 150px;
	border-radius: 6px;
}

h4	{
	color: #5C89CC;
}


a {
	text-decoration: none;
	color : #5C89CC;
	transition: color	0.3s ease;
}

a:hover {
	color: #1C4E8F;
}



